
.button-div{
  width: 30%;
  margin-left: 30%;
  padding: 1%;
}
.button-div button {
    width: 100%;
    padding: 0.5rem auto;
    margin: auto 1%;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: rgb(132, 91, 131);
  }
 