
.button-div{
  width: 50%;
  margin: 5%;
  padding: 1%;
  right: 0;
  background-color: #fcc543;
}
.button-div button {
    width: 100%;
    padding: 0.5rem auto;
    margin: 1% 0;
    box-sizing: border-box;
    font-size: 1.5rem;
  }
 