
.container{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid blueviolet;
    padding: 1%;
}

.input-form{
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
    background-color: rgb(45, 52, 52);
    border-radius: 10px;
    border: 2px solid rgb(201, 174, 227);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.items-container{
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
    background-color: rgb(45, 52, 52);
    border-radius: 10px;
    border: 2px solid rgb(201, 174, 227);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
/* .items-container ul{
    list-style: none;
    padding: 15%;
    background-color: chocolate;
} */
.items-container ol li{
    width: fit-content;
    margin: 1%;
}
.input-container{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}