
/* App container styles */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }
  
  /* Main page styles */
  .main-page {
    display: flex;
    flex-grow: 1;
    overflow: hidden; /* Hide overflow to prevent double scrollbars */
  }
