.grid-container
{
  width: 98%;
  background-color: #373030;
  padding: 1rem;
  border: 2px solid #666;
  border-radius: 5px;
}

.grid-table{
  background-color: #666;
  width: 90%;
  border-radius: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
  font-size: 1.2rem;
}