
.input-div{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.input-div .input-div-item{
  padding: 3px;
  margin: 5px auto auto 5px;
  box-sizing: border-box;
  font-size: 1rem;
}
.input-div input {
  width: 100%;
  border: 2px solid #9fd4e1;
  border-radius: 5px;
  }
  
  .input-div input[id^="submitForm"] {
    border: 2px solid #3498db;
    color: #3498db;
    width: 50%;
  }
  
  .input-div label {
    color: #fff;
    font-weight: bold;
    width: 120px;
  }