.section-container {
    display: flex;
  }
  
  /* Header styles */
  .header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Navbar styles */
  .navbar-container {
    width: 200px;
    background-color: #eee;
    padding: 10px;
  }
  
  /* Routes styles */
  .routes {
    flex-grow: 1;
    padding: 10px;
  }