.button-div{
  width: fit-content;
  margin-left: 30%;
  margin-top: 10px;
  padding: 3px 50px;
  background-color: rgb(80, 140, 159);
  bottom: 0;
}
.button-div button {
    width: 100%;
    padding: 5px 5px;
    margin: auto 1%;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: inherit;
  }